<a href="/admin/dashboard">
  &larr; Back
</a>

<div class="admin-title">
  <h2>View / Edit Post</h2>

  <form action="/admin/delete-post/<%=post._id%>?_method=DELETE" method="post">
    <button type="submit" class="btn btn-delete">Delete</button>
  </form>
</div>



<form method="post" action="/admin/edit-post/<%=post._id%>?_method=PUT">

  <label for="title"><b>Title</b></label>
  <input type="text" id="title" name="title" placeholder="Post Title" value="<%= post.title%>" />

  <label for="category"><b>Category</b></label>
  <select id="category" name="category">
    <option disabled>Choise Category</option>
    <%category.forEach((cate)=> {%>
      <option "<%= cate.id==post.category._id? 'selected': ''%>" value="<%=cate._id%>">
        <%= cate.name%>
      </option>
      <%})%>
  </select>

  <label for="body"><b>Content</b></label>
  <textarea id="body" name="body" cols="50" rows="10"><%= post.body%></textarea>

  <button type="submit" class="btn">Update</button>
</form>